/* general settings */

html {
    max-width: 1440px;
}
body {
    background: #92b4a7;
    margin: 0px;
    max-width: 1440px;
}

/* header, including search bar and shopping cart icon. For some reason, text-align is what controls the shopping cart image */
#header {
    width: 100%;
    text-align: right; /* this controls the shopping cart image to align on the right side */
    margin-top: 0%;
    display: inline-block;
    object-position: center;
    background-color: black;
}

#header img {
    object-position: right;
}

#header .searchbar {
    width: 300px;
    height: 25px;
    text-align: left;
    margin-top: -40px;
}
/* * header end  */

/* title, including the duo of page headers plus the menu buttons for navigation */
#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    background-image: url(./assets/Dell_laptop_keyboard.jpg); /* this picture is absolutely massive, so what you see is a very zoomed in version */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

#title h1 {
    margin-top: 0;
}

nav.menu_buttons {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: left;
    position: i;
    height: 100px;
    width: 110px;
    position: absolute;
    top: 45px;
    padding: 0px;
}

form {
    margin: 10px;
}

/* !visual menu navigation with pictures + short descriptions */

    /* !documentation */
#documentation img {
    position: relative;
    height: 250px;
    width: 250px;
}

#documentation {
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    text-align: center;
    color: black;
    height: 425px;
    width: 250px;
    left: 25px;
    top: 250px;
    margin: 10px;
}

#documentation h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#documentation p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-top: 0;
}

    /* !parts */
#parts {
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    text-align: center;
    color: black;
    height: 425px;
    width: 300px;
    left: 555px;
    top: 250px;
}

#parts img {
    position: relative;
    height: 300px;
    width: 300px;
}

#parts h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#parts p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-top: 0;
}

    /* !about */
#about {
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    text-align: center;
    color: black;
    height: 425px;
    width: 250px;
    right: 35px;
    top: 250px;

}

#about img {
    height: 250px;
    width: 250px;
}

#about h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-top: 0;
}
/* !End of menu items */

/* footer */
footer {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 5px;
    width: 250px;
}

footer a {
    margin: 5px;
}